CREATE DATABASE [ShopGiay]
GO
USE [ShopGiay]
GO
/****** Object:  Table [dbo].[AccountRoles]    Script Date: 9/28/2026 9:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoles](
	[account_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_code] [varchar](255) NULL,
	[username] [nvarchar](255) NULL,
	[gmail] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NULL,
	[img_url] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountVouchers]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[voucher_id] [bigint] NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[logo_url] [varchar](255) NULL,
	[logoUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[image_url] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[hex_code] [varchar](7) NULL,
	[hexCode] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NOT NULL,
	[admin_reply] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
	[price] [numeric](38, 2) NULL,
	[quantity] [int] NOT NULL,
	[return_quantity] [int] NULL,
	[return_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[voucher_id] [bigint] NULL,
	[fullname] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[total_money] [decimal](12, 2) NOT NULL,
	[discount_amount] [decimal](12, 2) NULL,
	[final_amount] [decimal](12, 2) NOT NULL,
	[payment_method_id] [bigint] NOT NULL,
	[payment_status] [varchar](20) NULL,
	[status] [varchar](255) NULL,
	[return_reason] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[email] [varchar](100) NULL,
	[return_evidence_images] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCompares]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCompares](
	[account_id] [int] NOT NULL,
	[product_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[account_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[product_code] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [bigint] NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[status] [varchar](255) NULL,
	[image_url] [varchar](2048) NULL,
	[created_at] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[gallery_images] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSerials]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSerials](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[variant_id] [bigint] NOT NULL,
	[serial_code] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[order_item_id] [bigint] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductSerials] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[size_id] [bigint] NOT NULL,
	[color_id] [bigint] NOT NULL,
	[price] [numeric](38, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[image_url] [varchar](1000) NULL,
	[status] [varchar](30) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionProducts]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionProducts](
	[promotion_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [PK_PromotionProducts] PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[start_date] [datetimeoffset](7) NOT NULL,
	[end_date] [datetimeoffset](7) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[updated_at] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[label] [nvarchar](100) NULL,
	[fullname] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[street_address] [nvarchar](500) NULL,
	[ward] [nvarchar](255) NULL,
	[district] [nvarchar](255) NULL,
	[province] [nvarchar](255) NULL,
	[full_address] [nvarchar](max) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantImages]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantImages](
	[variant_id] [bigint] NOT NULL,
	[image_url] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 9/28/2026 9:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[discount_type] [varchar](20) NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[min_order_value] [decimal](12, 2) NULL,
	[start_date] [datetimeoffset](7) NULL,
	[end_date] [datetimeoffset](7) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[max_discount_amount] [numeric](12, 2) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (1, 3)
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (1, N'ACC000001', N'AdminAA', N'hhtt3095@gmail.com', N'0961602238', N'$2a$10$EfI/mfD7UhzfKB0sn4duP.wfF7sdB/v8E1bOjPXpyc9umLru3TmoK', N'Mixue Nguyên Hồng, Phường Láng Hạ, Quận Đống Đa, Thành phố Hà Nội', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1782383848/euay8zsr9ypuefnw7y0p.jpg', CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (2, N'ACC000002', N'David Nguyen', N'david@gmail.com', N'0901000002', N'$2a$10$userhash1', N'Ho Chi Minh City', NULL, CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (3, N'ACC000003', N'Emma Tran', N'emma@gmail.com', N'0901000003', N'$2a$10$userhash2', N'Da Nang', NULL, CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountVouchers] ON 

INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (1, 1, 5, CAST(N'2026-05-22T10:27:01.157' AS DateTime))
INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (2, 1, 1, CAST(N'2026-05-22T16:00:01.400' AS DateTime))
INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (3, 1, 1, CAST(N'2026-05-22T16:05:28.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccountVouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (1, N'Nike', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321470/Nike_nfxj1x.png', NULL)
INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (2, N'Adidas', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321471/adidas_qctwz2.png', NULL)
INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (3, N'Puma', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321470/puma_zw191a.png', NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (2, 2, 3, 2)
INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (3, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([id], [account_id]) VALUES (5, 1)
INSERT [dbo].[Carts] ([id], [account_id]) VALUES (1, 2)
INSERT [dbo].[Carts] ([id], [account_id]) VALUES (2, 3)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (1, N'Sports Shoes', N'https://bizweb.dktcdn.net/thumb/1024x1024/100/405/002/products/gtt23-4trang-1.png?v=1736396305457')
INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (2, N'Running Shoes', N'https://product.hstatic.net/200000550479/product/1011b703-400-sr-rt-glb-result_5aff169af95b43058cd3b46d4c648181_master.jpg')
INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (3, N'Sneakers', N'https://cdn.vuahanghieu.com/unsafe/0x900/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2024/12/giay-sneaker-nam-giovanni-gsh0139-1-mau-xanh-navy-dam-size-39-675b93e38c6aa-13122024085443.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (1, N'Black', N'#000000', NULL)
INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (2, N'White', N'#FFFFFF', NULL)
INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (3, N'Red', N'#FF0000', NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (1, 2, N'Fast delivery', N'Received product in 2 days', N'Thank you for your feedback!', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (2, 3, N'Great service', N'Customer support was helpful', N'We appreciate your support.', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (3, 4, N'Good packaging', N'Product was well packed', N'Glad you liked it.', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity], [return_quantity], [return_status]) VALUES (1, 1, 1, CAST(3500000.00 AS Numeric(38, 2)), 1, NULL, NULL)
INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity], [return_quantity], [return_status]) VALUES (2, 2, 3, CAST(4200000.00 AS Numeric(38, 2)), 1, NULL, NULL)
INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity], [return_quantity], [return_status]) VALUES (3, 3, 5, CAST(1800000.00 AS Numeric(38, 2)), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email], [return_evidence_images]) VALUES (1, 2, 1, N'David Nguyen', N'0901000002', N'Ho Chi Minh City', CAST(3500000.00 AS Decimal(12, 2)), CAST(350000.00 AS Decimal(12, 2)), CAST(3150000.00 AS Decimal(12, 2)), 1, N'PAID', N'SUCCESS', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL, NULL)
INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email], [return_evidence_images]) VALUES (2, 3, 2, N'Emma Tran', N'0901000003', N'Da Nang', CAST(4200000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(12, 2)), CAST(4150000.00 AS Decimal(12, 2)), 2, N'PAID', N'SHIPPING', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL, NULL)
INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email], [return_evidence_images]) VALUES (3, 4, NULL, N'Chris Pham', N'0901000004', N'Hai Phong', CAST(1800000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(1800000.00 AS Decimal(12, 2)), 1, N'PENDING', N'PENDING', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (1, N'Cash On Delivery')
INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (2, N'VNPay')
INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (3, N'Momo')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (2, 1)
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (2, 2)
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (1, 1, 2, 5, N'Very comfortable and stylish', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (2, 2, 3, 4, N'Excellent for long distance running', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (3, 3, 4, 5, N'Trendy and comfortable', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt], [gallery_images]) VALUES (1, N'Nike Air Max 270', N'NIKE270', N'Breathable sports shoe for daily training', 1, 1, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_1_ipqieq.avif', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime), NULL)
INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt], [gallery_images]) VALUES (2, N'Adidas Ultraboost 22', N'ADIBOOST22', N'High performance running shoe', 2, 2, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773289796/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2026-03-12_112238_ywxe79.png', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime), NULL)
INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt], [gallery_images]) VALUES (3, N'Puma RS-X Reinvent', N'PUMARSX', N'Chunky lifestyle sneaker', 3, 3, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290018/b7f821ea1dad_dydcpy.webp', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSerials] ON 

INSERT [dbo].[ProductSerials] ([id], [variant_id], [serial_code], [status], [order_item_id], [created_at]) VALUES (1, 2, N'NIKE270-WHITE-41-1', N'IN_STOCK', NULL, CAST(N'2026-09-27T00:35:44.9866667' AS DateTime2))
INSERT [dbo].[ProductSerials] ([id], [variant_id], [serial_code], [status], [order_item_id], [created_at]) VALUES (2, 2, N'NIKE270-WHITE-41-2', N'IN_STOCK', NULL, CAST(N'2026-09-27T00:35:44.9900000' AS DateTime2))
INSERT [dbo].[ProductSerials] ([id], [variant_id], [serial_code], [status], [order_item_id], [created_at]) VALUES (3, 2, N'NIKE270-WHITE-41-3', N'IN_STOCK', NULL, CAST(N'2026-09-27T00:35:44.9900000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ProductSerials] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (1, 1, 3, 1, CAST(3500000.00 AS Numeric(38, 2)), 0, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_1_ipqieq.avif', N'HIDDEN', NULL)
INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (2, 1, 4, 2, CAST(3550000.00 AS Numeric(38, 2)), 10, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290011/AIR_MAX_270_pqesvw.avif', NULL, NULL)
INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (3, 2, 3, 1, CAST(4200000.00 AS Numeric(38, 2)), 12, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773289796/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2026-03-12_112238_ywxe79.png', N'SELLING', NULL)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
INSERT [dbo].[PromotionProducts] ([promotion_id], [product_id]) VALUES (1, 1)
INSERT [dbo].[PromotionProducts] ([promotion_id], [product_id]) VALUES (1, 2)
INSERT [dbo].[PromotionProducts] ([promotion_id], [product_id]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([id], [name], [discount_percent], [start_date], [end_date], [is_active], [created_at], [updated_at]) VALUES (1, N'Sale Ngay He', CAST(20.00 AS Decimal(5, 2)), CAST(N'2026-06-30T17:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-07-30T05:00:00.0000000+00:00' AS DateTimeOffset), 1, CAST(N'2026-07-18T03:53:21.8713030+00:00' AS DateTimeOffset), CAST(N'2026-07-18T04:38:53.5621338+00:00' AS DateTimeOffset))
INSERT [dbo].[Promotions] ([id], [name], [discount_percent], [start_date], [end_date], [is_active], [created_at], [updated_at]) VALUES (2, N'Sale Cong CF', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-07-18T04:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-08-30T05:00:00.0000000+00:00' AS DateTimeOffset), 1, CAST(N'2026-07-18T04:54:48.4180336+00:00' AS DateTimeOffset), CAST(N'2026-08-03T13:17:56.1982924+00:00' AS DateTimeOffset))
INSERT [dbo].[Promotions] ([id], [name], [discount_percent], [start_date], [end_date], [is_active], [created_at], [updated_at]) VALUES (3, N'sale', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-01-08T05:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2027-02-22T12:00:00.0000000+00:00' AS DateTimeOffset), 1, CAST(N'2026-08-04T07:10:32.9954294+00:00' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'GUEST')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'USER')
INSERT [dbo].[Roles] ([id], [name]) VALUES (3, N'ADMIN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([id], [name]) VALUES (1, N'38')
INSERT [dbo].[Sizes] ([id], [name]) VALUES (2, N'39')
INSERT [dbo].[Sizes] ([id], [name]) VALUES (3, N'40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([id], [account_id], [label], [fullname], [phone], [street_address], [ward], [district], [province], [full_address], [is_default], [created_at]) VALUES (2, 2, N'Địa chỉ mặc định', N'David Nguyen', N'0901000002', NULL, NULL, NULL, NULL, N'Ho Chi Minh City', 1, CAST(N'2026-08-20T22:36:16.4612820+07:00' AS DateTimeOffset))
INSERT [dbo].[UserAddresses] ([id], [account_id], [label], [fullname], [phone], [street_address], [ward], [district], [province], [full_address], [is_default], [created_at]) VALUES (3, 3, N'Địa chỉ mặc định', N'Emma Tran', N'0901000003', NULL, NULL, NULL, NULL, N'Da Nang', 1, CAST(N'2026-08-20T22:36:16.4612820+07:00' AS DateTimeOffset))
INSERT [dbo].[UserAddresses] ([id], [account_id], [label], [fullname], [phone], [street_address], [ward], [district], [province], [full_address], [is_default], [created_at]) VALUES (4, 4, N'Địa chỉ mặc định', N'Chris Pham', N'0901000004', NULL, NULL, NULL, NULL, N'Hai Phong', 1, CAST(N'2026-08-20T22:36:16.4612820+07:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (4, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_3_b1kwpi.avif')
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (4, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290018/44fab18db0ea_ecz9hq.webp')
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (4, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773294663/6bffa9bbe0fd_hbqiwz.webp')
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (1, N'WELCOME10', N'PERCENT', CAST(10.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-21T11:48:29.6433333+00:00' AS DateTimeOffset), 100, 2, 0, NULL, NULL, CAST(N'2026-09-15T19:41:48.7214070+00:00' AS DateTimeOffset))
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (2, N'SAVE50K', N'AMOUNT', CAST(50000.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-21T11:48:29.6433333+00:00' AS DateTimeOffset), 50, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (3, N'RUN20', N'PERCENT', CAST(20.00 AS Decimal(12, 2)), CAST(2000000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-11T11:48:29.6433333+00:00' AS DateTimeOffset), 40, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__493D0C0A7C78D270]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__5C3BE50F734026E9]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[account_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CartItem__4059ECADD9787AC5]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[CartItems] ADD UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Carts__46A222CC0A6DBCEB]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[Carts] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductR__83685FD802EDAD52]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[ProductReviews] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__AE1A8CC46FB410C1]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductSerials_Code]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[ProductSerials] ADD  CONSTRAINT [UQ_ProductSerials_Code] UNIQUE NONCLUSTERED 
(
	[serial_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductV__8DCF92D9C6FF05B0]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC,
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__357D4CF9BD7542B5]    Script Date: 9/28/2026 9:49:39 PM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[AccountVouchers] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [return_quantity]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ('NONE') FOR [return_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[ProductSerials] ADD  DEFAULT ('IN_STOCK') FOR [status]
GO
ALTER TABLE [dbo].[ProductSerials] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((100)) FOR [usage_limit]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Carts] ([id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethods] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[ProductCompares]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[ProductCompares]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brands] ([id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[ProductSerials]  WITH CHECK ADD  CONSTRAINT [FK_ProductSerials_OrderItem] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[OrderItems] ([id])
GO
ALTER TABLE [dbo].[ProductSerials] CHECK CONSTRAINT [FK_ProductSerials_OrderItem]
GO
ALTER TABLE [dbo].[ProductSerials]  WITH CHECK ADD  CONSTRAINT [FK_ProductSerials_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[ProductSerials] CHECK CONSTRAINT [FK_ProductSerials_Variant]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([size_id])
REFERENCES [dbo].[Sizes] ([id])
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Products]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Promotions] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Promotions]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddresses_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_UserAddresses_Accounts]
GO
ALTER TABLE [dbo].[VariantImages]  WITH CHECK ADD  CONSTRAINT [FK_VariantImages_ProductVariants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[VariantImages] CHECK CONSTRAINT [FK_VariantImages_ProductVariants]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK__Orders__status__22751F6C] CHECK  (([status]='RETURNED' OR [status]='RETURNING' OR [status]='RETURN_REQUEST' OR [status]='CANCELLED' OR [status]='SUCCESS' OR [status]='SHIPPING' OR [status]='PROCESSING' OR [status]='PENDING' OR [status]='CANCEL_REQUEST' OR [status]='PARTIAL_RETURN_REQUEST' OR [status]='PARTIAL_RETURNED'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK__Orders__status__22751F6C]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([status]='HIDDEN' OR [status]='OUT_OF_STOCK' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD CHECK  (([discount_type]='AMOUNT' OR [discount_type]='PERCENT'))
GO
