USE [master]
GO
/****** Object:  Database [ShopGiay]    Script Date: 25/06/2026 16:55:51 ******/
CREATE DATABASE [ShopGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ShopGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ShopGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopGiay]
GO
USE [ShopGiay]
GO
USE [ShopGiay]
GO
/****** Object:  Sequence [dbo].[AccountSeq]    Script Date: 25/06/2026 16:55:51 ******/
CREATE SEQUENCE [dbo].[AccountSeq] 
 AS [int]
 START WITH 6
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[AccountRoles]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoles](
	[account_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_code] [varchar](255) NULL,
	[username] [nvarchar](255) NULL,
	[gmail] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NULL,
	[img_url] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountVouchers]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[voucher_id] [bigint] NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[logo_url] [varchar](255) NULL,
	[logoUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[image_url] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[hex_code] [varchar](7) NULL,
	[hexCode] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NOT NULL,
	[admin_reply] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
	[price] [numeric](38, 2) NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[voucher_id] [bigint] NULL,
	[fullname] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[total_money] [decimal](12, 2) NOT NULL,
	[discount_amount] [decimal](12, 2) NULL,
	[final_amount] [decimal](12, 2) NOT NULL,
	[payment_method_id] [bigint] NOT NULL,
	[payment_status] [varchar](20) NULL,
	[status] [varchar](255) NULL,
	[return_reason] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCompares]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCompares](
	[account_id] [int] NOT NULL,
	[product_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[account_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[product_code] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [bigint] NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[status] [varchar](255) NULL,
	[image_url] [varchar](2048) NULL,
	[created_at] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[size_id] [bigint] NOT NULL,
	[color_id] [bigint] NOT NULL,
	[price] [numeric](38, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[image_url] [varchar](1000) NULL,
	[status] [varchar](30) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantImages]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantImages](
	[variant_id] [bigint] NOT NULL,
	[image_url] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 25/06/2026 16:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[discount_type] [varchar](20) NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[min_order_value] [decimal](12, 2) NULL,
	[start_date] [datetimeoffset](7) NULL,
	[end_date] [datetimeoffset](7) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[max_discount_amount] [numeric](12, 2) NULL,
	[updated_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (1, 3)
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[AccountRoles] ([account_id], [role_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (1, N'ACC000001', N'Admin', N'hhtt3095@gmail.com', N'+1987654321', N'$2a$10$b9bsnBSRWkJ.hAdywulEd.OJ/KrsZy6o4cbF.KOZZiZCLs8svhU0i', N'456 Another St', N'https://lh3.googleusercontent.com/a/ACg8ocIquIBHl3QxmYLXt8Hl3FkN69HphIPmBiPv9ApRXydWomWisw=s96-c', CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (2, N'ACC000002', N'David Nguyen', N'david@gmail.com', N'0901000002', N'$2a$10$userhash1', N'Ho Chi Minh City', NULL, CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
INSERT [dbo].[Accounts] ([id], [account_code], [username], [gmail], [phone], [password_hash], [address], [img_url], [created_at], [is_active]) VALUES (3, N'ACC000003', N'Emma Tran', N'emma@gmail.com', N'0901000003', N'$2a$10$userhash2', N'Da Nang', NULL, CAST(N'2026-05-22T11:48:29.637' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountVouchers] ON 

INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (1, 1, 5, CAST(N'2026-05-22T10:27:01.157' AS DateTime))
INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (2, 1, 1, CAST(N'2026-05-22T16:00:01.400' AS DateTime))
INSERT [dbo].[AccountVouchers] ([id], [account_id], [voucher_id], [used_at]) VALUES (3, 1, 1, CAST(N'2026-05-22T16:05:28.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccountVouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (1, N'Nike', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321470/Nike_nfxj1x.png', NULL)
INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (2, N'Adidas', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321471/adidas_qctwz2.png', NULL)
INSERT [dbo].[Brands] ([id], [name], [logo_url], [logoUrl]) VALUES (3, N'Puma', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773321470/puma_zw191a.png', NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (2, 2, 3, 2)
INSERT [dbo].[CartItems] ([id], [cart_id], [variant_id], [quantity]) VALUES (3, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([id], [account_id]) VALUES (5, 1)
INSERT [dbo].[Carts] ([id], [account_id]) VALUES (1, 2)
INSERT [dbo].[Carts] ([id], [account_id]) VALUES (2, 3)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (1, N'Sports Shoes', NULL)
INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (2, N'Running Shoes', NULL)
INSERT [dbo].[Categories] ([id], [name], [image_url]) VALUES (3, N'Sneakers', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (1, N'Black', N'#000000', NULL)
INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (2, N'White', N'#FFFFFF', NULL)
INSERT [dbo].[Colors] ([id], [name], [hex_code], [hexCode]) VALUES (3, N'Red', N'#FF0000', NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (1, 2, N'Fast delivery', N'Received product in 2 days', N'Thank you for your feedback!', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (2, 3, N'Great service', N'Customer support was helpful', N'We appreciate your support.', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[Feedbacks] ([id], [account_id], [title], [content], [admin_reply], [created_at]) VALUES (3, 4, N'Good packaging', N'Product was well packed', N'Glad you liked it.', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity]) VALUES (1, 1, 1, CAST(3500000.00 AS Numeric(38, 2)), 1)
INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity]) VALUES (2, 2, 3, CAST(4200000.00 AS Numeric(38, 2)), 1)
INSERT [dbo].[OrderItems] ([id], [order_id], [variant_id], [price], [quantity]) VALUES (3, 3, 5, CAST(1800000.00 AS Numeric(38, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email]) VALUES (1, 2, 1, N'David Nguyen', N'0901000002', N'Ho Chi Minh City', CAST(3500000.00 AS Decimal(12, 2)), CAST(350000.00 AS Decimal(12, 2)), CAST(3150000.00 AS Decimal(12, 2)), 1, N'PAID', N'SUCCESS', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL)
INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email]) VALUES (2, 3, 2, N'Emma Tran', N'0901000003', N'Da Nang', CAST(4200000.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(12, 2)), CAST(4150000.00 AS Decimal(12, 2)), 2, N'PAID', N'SHIPPING', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL)
INSERT [dbo].[Orders] ([id], [account_id], [voucher_id], [fullname], [phone], [shipping_address], [total_money], [discount_amount], [final_amount], [payment_method_id], [payment_status], [status], [return_reason], [created_at], [email]) VALUES (3, 4, NULL, N'Chris Pham', N'0901000004', N'Hai Phong', CAST(1800000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(1800000.00 AS Decimal(12, 2)), 1, N'PENDING', N'PENDING', NULL, CAST(N'2026-05-22T11:48:29.643' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (1, N'Cash On Delivery')
INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (2, N'VNPay')
INSERT [dbo].[PaymentMethods] ([id], [name]) VALUES (3, N'Momo')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (2, 1)
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (2, 2)
INSERT [dbo].[ProductCompares] ([account_id], [product_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (1, 1, 2, 5, N'Very comfortable and stylish', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (2, 2, 3, 4, N'Excellent for long distance running', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
INSERT [dbo].[ProductReviews] ([id], [product_id], [account_id], [rating], [comment], [created_at]) VALUES (3, 3, 4, 5, N'Trendy and comfortable', CAST(N'2026-05-22T11:48:29.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt]) VALUES (1, N'Nike Air Max 270', N'NIKE270', N'Breathable sports shoe for daily training', 1, 1, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_1_ipqieq.avif', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt]) VALUES (2, N'Adidas Ultraboost 22', N'ADIBOOST22', N'High performance running shoe', 2, 2, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773289796/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2026-03-12_112238_ywxe79.png', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [product_code], [description], [category_id], [brand_id], [status], [image_url], [created_at], [updatedAt]) VALUES (3, N'Puma RS-X Reinvent', N'PUMARSX', N'Chunky lifestyle sneaker', 3, 3, N'AVAILABLE', N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290018/b7f821ea1dad_dydcpy.webp', CAST(N'2026-05-22T11:48:29.640' AS DateTime), CAST(N'2026-05-22T11:48:29.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (1, 1, 3, 1, CAST(3500000.00 AS Numeric(38, 2)), 0, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_1_ipqieq.avif', N'HIDDEN', NULL)
INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (2, 1, 4, 2, CAST(3550000.00 AS Numeric(38, 2)), 12, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290011/AIR_MAX_270_pqesvw.avif', NULL, NULL)
INSERT [dbo].[ProductVariants] ([id], [product_id], [size_id], [color_id], [price], [stock_quantity], [image_url], [status], [updated_at]) VALUES (3, 2, 3, 1, CAST(4200000.00 AS Numeric(38, 2)), 19, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773289796/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2026-03-12_112238_ywxe79.png', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'GUEST')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'USER')
INSERT [dbo].[Roles] ([id], [name]) VALUES (3, N'ADMIN')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([id], [name]) VALUES (1, N'38')
INSERT [dbo].[Sizes] ([id], [name]) VALUES (2, N'39')
INSERT [dbo].[Sizes] ([id], [name]) VALUES (3, N'40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (3, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773289797/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2026-03-12_112331_secj7c.png')
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (4, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290010/AIR_MAX_270_3_b1kwpi.avif')
INSERT [dbo].[VariantImages] ([variant_id], [image_url]) VALUES (4, N'https://res.cloudinary.com/dmas2qrrw/image/upload/v1773290018/44fab18db0ea_ecz9hq.webp')
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (1, N'WELCOME10', N'PERCENT', CAST(10.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-21T11:48:29.6433333+00:00' AS DateTimeOffset), 100, 2, 1, NULL, NULL, NULL)
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (2, N'SAVE50K', N'AMOUNT', CAST(50000.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-21T11:48:29.6433333+00:00' AS DateTimeOffset), 50, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_order_value], [start_date], [end_date], [usage_limit], [used_count], [is_active], [created_at], [max_discount_amount], [updated_at]) VALUES (3, N'RUN20', N'PERCENT', CAST(20.00 AS Decimal(12, 2)), CAST(2000000.00 AS Decimal(12, 2)), CAST(N'2026-05-22T11:48:29.6433333+00:00' AS DateTimeOffset), CAST(N'2026-06-11T11:48:29.6433333+00:00' AS DateTimeOffset), 40, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__493D0C0ACF7B6C20]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__5C3BE50FA8C88DC2]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[account_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CartItem__4059ECAD1712D836]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[CartItems] ADD UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Carts__46A222CCAB502C02]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[Carts] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductR__83685FD82C37D1A4]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[ProductReviews] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__AE1A8CC4FDF18F7C]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductV__8DCF92D902BE4B89]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC,
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__357D4CF97E0AC5F8]    Script Date: 25/06/2026 16:55:51 ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('ACC'+right('000000'+CONVERT([varchar](6),NEXT VALUE FOR [dbo].[AccountSeq]),(6))) FOR [account_code]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[AccountVouchers] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((100)) FOR [usage_limit]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[AccountVouchers]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Carts] ([id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethods] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[ProductCompares]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[ProductCompares]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brands] ([id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([size_id])
REFERENCES [dbo].[Sizes] ([id])
GO
ALTER TABLE [dbo].[VariantImages]  WITH CHECK ADD  CONSTRAINT [FK_VariantImages_ProductVariants] FOREIGN KEY([variant_id])
REFERENCES [dbo].[ProductVariants] ([id])
GO
ALTER TABLE [dbo].[VariantImages] CHECK CONSTRAINT [FK_VariantImages_ProductVariants]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([status]='RETURNED' OR [status]='RETURNING' OR [status]='RETURN_REQUEST' OR [status]='CANCELLED' OR [status]='SUCCESS' OR [status]='SHIPPING' OR [status]='PROCESSING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([status]='HIDDEN' OR [status]='OUT_OF_STOCK' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD CHECK  (([discount_type]='AMOUNT' OR [discount_type]='PERCENT'))
GO
USE [master]
GO

-- Promotions schema (run once on ShopGiay)
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Promotions')
BEGIN
    CREATE TABLE [dbo].[Promotions](
        [id] [bigint] IDENTITY(1,1) NOT NULL,
        [name] [nvarchar](255) NOT NULL,
        [discount_percent] [decimal](5, 2) NOT NULL,
        [start_date] [datetimeoffset](7) NOT NULL,
        [end_date] [datetimeoffset](7) NOT NULL,
        [is_active] [bit] NULL DEFAULT 1,
        [created_at] [datetimeoffset](7) NULL,
        [updated_at] [datetimeoffset](7) NULL,
        CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED ([id] ASC)
    );
END
GO

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'PromotionProducts')
BEGIN
    CREATE TABLE [dbo].[PromotionProducts](
        [promotion_id] [bigint] NOT NULL,
        [product_id] [bigint] NOT NULL,
        CONSTRAINT [PK_PromotionProducts] PRIMARY KEY CLUSTERED ([promotion_id] ASC, [product_id] ASC),
        CONSTRAINT [FK_PromotionProducts_Promotions] FOREIGN KEY([promotion_id]) REFERENCES [dbo].[Promotions] ([id]) ON DELETE CASCADE,
        CONSTRAINT [FK_PromotionProducts_Products] FOREIGN KEY([product_id]) REFERENCES [dbo].[Products] ([id]) ON DELETE CASCADE
    );	
END
GO